.profile-card {
  padding: 10px;

  .profile-card__image {
    position: relative;
    display: inline-block;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    .profile-card__setting {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $color-white;
      color: $color-grey;
      padding: 5px 9px;
      border-radius: 50%;
    }
  }

  .profile-card__title {
    .profile-card__status {
      font-size: 8px;
      position: relative;
      top: -2px;
    }
  }
}
