.sidebar {
  height: 100vh;
  border-right: solid 1px $color-light;
  background-color: $color-white;
  position: fixed;
  width: inherit;

  .sidebar__header {
    background-color: $color-white;
    height: 60px;
    border-bottom: solid 1px $color-light;

    .sidebar__logo {
      height: 100%;
      text-align: center;
      padding-top: 18px;
    }
  }

  .sidebar__wrapper {
    padding-top: 15px;
    height: calc(100% - 130px);
    overflow-y: auto;
  }

  .sidebar__footer {
    background-color: $color-white;
    height: 70px;
    border-top: solid 1px $color-light;
    padding-top: 15px;
    padding-left: 25px;

    p {
      color: $color-dark;
      margin: 0;
      padding-bottom: 5px;
      font-size: 12px;
    }
  }
}

.recent-menu {
  padding: 15px 25px;
}
