.sidebar {
  height: 100vh;
  border-right: solid 1px $color-light;
  background-color: $color-white;
  position: fixed;
  width: inherit;

  .sidebar__header {
    height: 60px;
    border-bottom: solid 1px $color-light;

    .sidebar__logo {
      height: 100%;
      text-align: center;
      padding-top: 18px;
    }
  }

  .sidebar__wrapper {
    padding-top: 15px;
    height: calc(100% - 60px);
    overflow-y: auto;
  }
}

.recent-menu {
  padding: 15px 25px;
}
