.nav-menu {
  padding: 0 25px 15px 25px;

  .nav-menu__item {
    display: flex;
    padding: 15px 0;
    border-bottom: solid 1px $color-light;
    color: $color-dark;

    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
  }

  .collapse-item {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 1.6em;
      right: 0;
      border-top: 0.3em solid $color-light;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    &.open {
      border-bottom: solid 1px $color-light;
      .nav-menu__item {
        border-bottom: none;
      }
    }

    .collapse-item__sub-item {
      .nav-menu__item {
        padding: 8px 0 8px 33px;
        border-bottom: none;
        font-size: 14px;
        color: darken($color: $color-light, $amount: 30%);
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
