.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: solid 1px $color-light;
  background-color: $color-white;

  .header__title {
    line-height: 60px;
    margin-left: 20px;
  }

  .header__language {
    margin: 12px 25px 10px 0;
  }
}
